@import "../../_variable.scss";

#app .dir-path-nav {

    .breadcrumb-item::before {
        color: $text-light;
    }

    .breadcrumb-item.active,
    .dir-path-link:hover {
        color: #A5ACBA !important;
    }
}

#app .file-list {
    .list-group-item {

        &:hover,
        &[data-active="1"] {
            background-color: $bg-dark !important;
        }

        .file-name {
            cursor: pointer;
        }
    }

    @for $i from 1 through 7 {
        $t: nth($file-type, $i);
        $c: nth($icon-color, $i);

        .bi[data-file-type="#{$t}"] {
            color: $c !important;
        }
    }
}

#full-file-name-modal {

    .show-file-name {
        background-color: #ffffffe6;
        cursor: text;
    }
}

#app .file-list .action-dropdown {

    [id^="action-dropdown-btn"] {
        height: 36px;
        transition: all .15s;

        &:hover,
        &:active,
        &:focus,
        &.show {
            background-color: $bg-secondary;
            color: $text-dark;
        }

        &::after {
            margin-left: 0;
        }
    }
}

#preview-dir-modal {

    .struct .item {
        list-style: none;
    }

    /* 文件图标 */
    @for $i from 2 through 7 {
        $t: nth($file-type, $i);
        $c: nth($icon-color, $i);
        $icon: nth($icon-content, $i);

        .struct .item[data-type="#{$t}"]::before {
            content: $icon;
            margin-right: 2px;
            font-family: 'bootstrap-icons';
            color: $c !important;
            font-size: 14px;
        }
    }

    /* 展开、折叠图标样式 [start] */
    .struct .item[data-type="dir"] {
        & > .filename {
            cursor: pointer;
        }

        &::before {
            margin-right: 2px;
            font-family: 'bootstrap-icons';
            font-size: 12px;
        }

        &[data-fold="1"]::before {
            content: "\F231";
        }

        &[data-fold="0"]::before {
            content: "\F229";
        }
    }

    /* 展开、折叠图标样式 [end] */
}

#multi-select[data-multi-status="1"] {
    border-color: #f8f9fa;
    box-shadow: 0 0 0 0.25rem rgb(248 249 250 / 50%);
    background-color: #f8f9fa;
    color: #000;
}
