@import "../../_variable.scss";

#app .dir-path-nav {

    .breadcrumb-item::before {
        color: $text-light;
    }

    .breadcrumb-item.active,
    .dir-path-link:hover {
        color: #A5ACBA !important;
    }
}

#app .file-list {

    &:not([data-multi-select-status="1"]) .list-group-item:hover,
    .list-group-item[data-active="1"] {
        background-color: $bg-dark !important;
    }

    .list-group-item .file-name {
        cursor: pointer;
    }

    @for $i from 1 through 7 {
        $t: nth($file-type, $i);
        $c: nth($icon-color, $i);

        .bi[data-file-type="#{$t}"] {
            color: $c !important;
        }
    }
}

#full-file-name-modal {

    .show-file-name {
        background-color: #ffffffe6;
        cursor: text;
    }
}

#preview-dir-modal {

    .struct .item {
        list-style: none;
    }

    /* 文件图标 */
    @for $i from 2 through 7 {
        $t: nth($file-type, $i);
        $c: nth($icon-color, $i);
        $icon: nth($icon-content, $i);

        .struct .item[data-type="#{$t}"]::before {
            content: $icon;
            margin-right: 2px;
            font-family: 'bootstrap-icons';
            color: $c !important;
            font-size: 14px;
        }
    }

    /* 展开、折叠图标样式 [start] */
    .struct .item[data-type="dir"] {
        & > .filename {
            cursor: pointer;
        }

        &::before {
            margin-right: 2px;
            font-family: 'bootstrap-icons';
            font-size: 12px;
        }

        &[data-fold="1"]::before {
            content: "\F231";
        }

        &[data-fold="0"]::before {
            content: "\F229";
        }
    }

    /* 展开、折叠图标样式 [end] */
}

#multi-total-size-modal {
    .file-size-table .table [data-dir="1"] > td:first-child {
        background-color: #25B4D3 !important;
        --bs-table-accent-bg: none !important;
    }
}

#compress-file-modal {
    form[name="compress-file"] {
        .compress-file-name-box .extension-name {
            cursor: default;
        }

        .compress-type {
            cursor: pointer;
        }

        .file-name-list .list {
            max-height: 10rem;
        }

        .loading {
            .hint-text {
                line-height: 2rem;
            }
        }
    }
}

#multi-download-modal {
    form[name='multi-download'] {
        .file-name-list .list {
            max-height: 10rem;
        }

        .loading {
            .hint-text {
                line-height: 2rem;
            }
        }
    }
}

#app .file-list .action-dropdown {

    [id^="action-dropdown-btn"] {
        height: 36px;
        transition: all .15s;

        &:hover,
        &:active,
        &:focus,
        &.show {
            background-color: $bg-secondary;
            color: $text-dark;
        }

        &::after {
            margin-left: 0;
        }
    }
}

#app .multi-select-btn-group {

    /* 多选按钮 [start] */
    #multi-select[data-multi-status="1"] {
        border-color: #f8f9fa;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;;
        //box-shadow: 0 0 0 0.25rem rgb(248 249 250 / 50%);
        box-shadow: 0 0 0 0 #00000000;
        background-color: #f8f9fa;
        color: #000;
    }

    /* 多选按钮 [end] */

    /* 多选操作的下拉按钮 */
    #multi-select-dropdown-btn {
        border-left-color: $bg-dark !important;
        box-shadow: 0 0 0 0 #00000000;
    }
}
