@import "../../_variable.scss";

/* 工具类 [start] */

/* 取消container的左右padding */
.mx-n3 {
    margin-left: -.75rem;
    margin-right: -.75rem;
}

/* 灰色阴影，常用于按钮 */
.gray-shadow {
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.25rem #ffffff5e!important;
    }
}

/* 单行文本截断表示 */


/* 工具类 [end] */

/* 页面宏观 [start] */
body {
    background-color: #52575c;
}

@media (min-width: 992px) {
    [class^="container"] {
        max-width: 960px;
    }
}
/* 页面宏观 [end] */

/* 导航栏 [start] */
#top-navbar {

    /* 导航栏链接的背景色变化 */
    .navbar-brand:hover,
    #navbar-menu .nav-link:hover {
        background-color: #52575c;
    }

    /* “管理”下拉菜单的弹出位置 */
    .navbar-admin-dropdown {
        .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
}
/* 导航栏 [end] */

/* 模态框共用样式 [start] */
.modal {

    /* 右上角关闭按钮 */
    .modal-header .btn-close {
        top: 1rem;
        right: 1rem;
    }
}
/* 模态框共用样式 [end] */

/* 登录、修改密码模态框 [start] */
.login-modal,
.update-password-modal {
    input.form-control[type="text"],
    input.form-control[type="password"] {
        background-color: #ffffffe6;

        &:focus {
            box-shadow: 0 0 0 0.25rem #21028173;
        }
    }
}
/* 登录、修改密码模态框 [end] */
