{% extends "base/base.html" %}
{% import "base/macro.html" as component %}

{% block title %}文件系统{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/static/main/css/index.css"/>
{% endblock style %}

{% block modal %}
    <!-- 完整文件名模态框 [start] -->
    <div class="modal fade" id="full-file-name-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">完整文件名</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 显示文件名、复制按钮 [start] -->
                    <div class="d-flex show-panel">
                        <input type="text" class="form-control show-file-name" id="show-full-file-name-input" readonly>
                        {{ component.copy_btn('#show-full-file-name-input') }}
                    </div>
                    <!-- 显示文件名、复制按钮 [start] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 完整文件名模态框 [end] -->

    {% if current_user.is_admin() %}
        <!-- 删除文件 [start] -->
        <div class="modal fade" id="delete-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">警告</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 删除文件表单 [start] -->
                        <form action="{{ url_for('main.remove') }}" method="post" name="delete-file">

                            确定要删除<span class="bg-danger bg-opacity-75 px-1 rounded-1 file-name"></span>吗？

                            <input type="text" class="d-none" name="path" value="javascript" required/>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-danger gray-shadow me-4">删除</button>
                                <button type="button" class="btn btn-info gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 删除文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 删除文件 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 重命名文件 [start] -->
        <div class="modal fade" id="rename-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">重命名</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 重命名文件表单 [start] -->
                        <form action="{{ url_for('main.rename') }}" method="post" name="rename-file">

                            <!-- 隐藏的控件：要重命名的文件的绝对路径 -->
                            <input type="text" class="d-none" name="path" value="javascript"/>

                            <!-- 原名称 [start] -->
                            <div class="mb-3">
                                <label for="rename-source-file-name" class="form-label">原名称</label>
                                <div class="d-flex show-panel">
                                    <input type="text" class="form-control source-file-name" id="rename-source-file-name"
                                           readonly/>
                                    {{ component.copy_btn('#rename-source-file-name') }}
                                </div>
                            </div>
                            <!-- 原名称 [end] -->

                            <!-- 新名称 [start] -->
                            <div class="mb-3">
                                <label for="rename-new-file-name" class="form-label">新名称</label>
                                <input type="text" class="form-control dark-mode-input" id="rename-new-file-name"
                                       name="new-file-name" required autocomplete="off"/>
                            </div>
                            <!-- 新名称 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 重命名文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 重命名文件 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 移动文件 [start] -->
        <div class="modal fade" id="move-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">移动</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 移动文件表单 [start] -->
                        <form action="{{ url_for('main.move') }}" method="post" name="move-file">

                            <!-- 要移动的文件的绝对路径 [start] -->
                            <div class="mb-3">
                                <label for="move-source-file-path" class="form-label">原路径</label>
                                <div class="d-flex show-panel">
                                    <input type="text" class="form-control source-file-path" id="move-source-file-path"
                                           name="source-file-path" readonly required autocomplete="off"/>
                                    {{ component.copy_btn('#move-source-file-path') }}
                                </div>
                            </div>
                            <!-- 要移动的文件的绝对路径 [end] -->

                            <!-- 目标路径 [start] -->
                            <div class="mb-3">
                                <label for="move-target-file-path" class="form-label">目标路径</label>
                                <input type="text" class="form-control dark-mode-input" id="move-target-file-path"
                                       name="target-file-path" required autocomplete="off"/>
                            </div>
                            <!-- 目标路径 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 移动文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 移动文件 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 复制文件 [start] -->
        <div class="modal fade" id="copy-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">复制</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 移动文件表单 [start] -->
                        <form action="{{ url_for('main.copy_file') }}" method="post" name="copy-file">

                            <!-- 要复制的文件的绝对路径 [start] -->
                            <div class="mb-3">
                                <label for="copy-source-file-path" class="form-label">源文件路径</label>
                                <div class="d-flex show-panel">
                                    <input type="text" class="form-control source-file-path" id="copy-source-file-path"
                                           name="source-file-path" readonly required autocomplete="off"/>
                                    {{ component.copy_btn('#copy-source-file-path') }}
                                </div>
                            </div>
                            <!-- 要复制的文件的绝对路径 [end] -->

                            <!-- 目标路径 [start] -->
                            <div class="mb-3">
                                <label for="copy-target-file-path" class="form-label">目标路径</label>
                                <input type="text" class="form-control dark-mode-input" id="copy-target-file-path"
                                       name="target-file-path" required autocomplete="off"/>
                            </div>
                            <!-- 目标路径 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 移动文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 复制文件 [end] -->
    {% endif %}

    {% if current_user.is_authenticated %}
        <!-- 上传文件模态框 [start] -->
        <div class="modal fade" id="upload-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">上传文件</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 上传文件表单 [start] -->
                        <form enctype="multipart/form-data" action="{{ url_for('main.upload_file') }}" method="post"
                              name="upload-file">

                            <!-- 隐藏的表单：当前目录路径 -->
                            <input type="text" class="d-none" name="path" value="{{ current_dir_path }}"/>

                            <!-- 文件输入框 -->
                            <div class="mb-3">
                                <label for="file"
                                       class="form-label bg-danger bg-opacity-75 px-1 rounded-1">{{ UPLOAD_FILE_HINT_INFO }}</label>
                                <input class="form-control" type="file" id="file" name="file" required autocomplete="off"
                                       data-max-size="{{ UPLOAD_FILE_MAX_SIZE }}"/>
                            </div>

                            <!-- 文件上传进度条 -->
                            <div class="progress d-none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                            </div>

                            <!-- 警告框 -->
                            <div class="alert alert-danger alert-dismissible mt-3 d-none" role="alert">
                                <div class="text" data-upload-file-hint-info="{{ UPLOAD_FILE_HINT_INFO }}"></div>
                                <button type="button" class="btn-close"></button>
                            </div>

                            <!-- 提交按钮 -->
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">上传</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>

                        </form>
                        <!-- 上传文件表单 [start] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 上传文件模态框 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 新建目录模态框 [start] -->
        <div class="modal fade" id="create-dir-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">新建目录</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 新建目录表单 [start] -->
                        <form action="{{ url_for('main.create_dir') }}" method="post" name="create-dir">

                            <!-- 隐藏的控件：当前目录的绝对路径 -->
                            <input type="text" class="d-none" name="path" value="{{ current_dir_path }}"/>

                            <!-- 新建目录名称 [start] -->
                            <div class="mb-3">
                                <label for="create-dir-dir-name" class="form-label">目录名称</label>
                                <input type="text" class="form-control dark-mode-input" name="dir-name"
                                       id="create-dir-dir-name" required autocomplete="off"/>
                            </div>
                            <!-- 新建目录名称 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 新建目录表单 [start] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 新建目录模态框 [end] -->
    {% endif %}

    <!-- 预览目录模态框 [start] -->
    <div class="modal fade" id="preview-dir-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">目录预览</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- “正在加载”动画效果 [start] -->
                    <div class="loading text-center">
                        <div class="h5 text-light">正在加载目录结构...</div>
                        <div class="spinner-border text-dark" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <!-- “正在加载”动画效果 [end] -->

                    <!-- 加载结构失败提示 [start] -->
                    <div class="load-struct-fail d-none">
                        加载目录结构失败：<span class="bg-danger bg-opacity-75 px-1 rounded-1 message"></span>
                    </div>
                    <!-- 加载结构失败提示 [end] -->

                    <!-- 目录结构 [start] -->
                    <div class="struct">
                        <ul class="root ps-0 d-none" data-path="">
                        </ul>
                    </div>
                    <!-- 目录结构 [end] -->

                </div>
                <!-- 模态框内容 [end] -->

                <!-- 模态框底部 [start] -->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info gray-shadow fold-all-btn">全部折叠</button>
                    <button type="button" class="btn btn-info gray-shadow unfold-all-btn">全部展开</button>
                    <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                </div>
                <!-- 模态框底部 [end] -->

            </div>
        </div>
    </div>
    <!-- 预览目录模态框 [end] -->

    {% if current_user.is_authenticated %}
        <!-- 查看目录大小模态框 [start] -->
        <div class="modal fade" id="dir-size-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">目录大小</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- “正在加载”动画效果 [start] -->
                        <div class="loading text-center">
                            <div class="h5">正在计算目录大小...</div>
                            <div class="spinner-border text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- “正在加载”动画效果 [end] -->

                        <!-- 加载失败提示 [start] -->
                        <div class="fail-info d-none">
                            获取目录大小失败：<span class="bg-danger bg-opacity-75 px-1 rounded-1 message"></span>
                        </div>
                        <!-- 加载失败提示 [end] -->

                        <!-- 目录信息 [start] -->
                        <div class="dir-info d-none">
                            <div>目录名称：<span class="name"></span></div>
                            <div>目录大小：<span class="size"></span></div>
                        </div>
                        <!-- 目录信息 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 查看目录大小模态框 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 删除多个文件模态框 [start] -->
        <div class="modal fade" id="delete-multi-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">警告</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 删除多文件表单 [start] -->
                        <form action="{{ url_for('main.remove') }}" method="post" name="delete-multi-file">

                            确定要删除以下文件或目录吗？

                            <div class="file-path-list">
                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-danger gray-shadow me-4">删除</button>
                                <button type="button" class="btn btn-info gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 删除多文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 删除多个文件模态框 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 移动多个文件模态框 [start] -->
        <div class="modal fade" id="move-multi-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">移动</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 移动多文件表单 [start] -->
                        <form action="{{ url_for('main.move') }}" method="post" name="move-multi-file">
                            <!-- 目标路径 [start] -->
                            <div class="mb-3">
                                <label for="multi-move-target-file-path" class="form-label">目标路径</label>
                                <input type="text" class="form-control dark-mode-input" id="multi-move-target-file-path"
                                       name="target-file-path" required autocomplete="off"/>
                            </div>
                            <!-- 目标路径 [end] -->

                            移动以下文件：

                            <!-- 要移动的文件的绝对路径 [start] -->
                            <div class="file-path-list">
                            </div>
                            <!-- 要移动的文件的绝对路径 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 移动多文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 移动多个文件模态框 [end] -->
    {% endif %}

    {% if current_user.is_admin() %}
        <!-- 复制多个文件模态框 [start] -->
        <div class="modal fade" id="copy-multi-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">复制</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 复制多文件表单 [start] -->
                        <form action="{{ url_for('main.copy_file') }}" method="post" name="copy-multi-file">
                            <!-- 目标路径 [start] -->
                            <div class="mb-3">
                                <label for="multi-copy-target-file-path" class="form-label">目标路径</label>
                                <input type="text" class="form-control dark-mode-input" id="multi-copy-target-file-path"
                                       name="target-file-path" required autocomplete="off"/>
                            </div>
                            <!-- 目标路径 [end] -->

                            复制以下文件：

                            <!-- 要复制的文件的绝对路径 [start] -->
                            <div class="file-path-list">
                            </div>
                            <!-- 要复制的文件的绝对路径 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 复制多文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 复制多个文件模态框 [end] -->
    {% endif %}

    {% if current_user.is_authenticated %}
        <!-- 多选查看总大小模态框 [start] -->
        <div class="modal fade" id="multi-total-size-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">总大小</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- “正在加载”动画效果 [start] -->
                        <div class="loading text-center">
                            <div class="h5">正在计算大小...</div>
                            <div class="spinner-border text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- “正在加载”动画效果 [end] -->

                        <!-- 加载失败提示 [start] -->
                        <div class="fail-info d-none">
                            获取大小失败：<span class="bg-danger bg-opacity-75 px-1 rounded-1 message"></span>
                        </div>
                        <!-- 加载失败提示 [end] -->

                        <!-- 文件大小列表 [start] -->
                        <div class="file-size-table d-none">
                            <table class="table table-dark table-striped table-sm text-center align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th>文件名</th>
                                        <th>文件大小</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- 文件大小列表 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 多选查看总大小模态框 [end] -->
    {% endif %}

    {% if current_user.is_authenticated %}
        <!-- 压缩文件模态框 [start] -->
        <div class="modal fade" id="compress-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">压缩</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 压缩多文件表单 [start] -->
                        <form action="{{ url_for('main.compress_multi_file') }}" method="post" name="compress-file">

                            <!-- 压缩文件名称 [start] -->
                            <div class="mb-3 compress-file-name-box">
                                <label for="compress-file-name" class="form-label">压缩包名</label>
                                <div class="input-group">
                                    <input type="text" class="form-control dark-mode-input" id="compress-file-name"
                                           name="file-name" required="" autocomplete="off"/>
                                    <span class="input-group-text my-input-group-text extension-name">.zip</span>
                                </div>
                            </div>
                            <!-- 压缩文件名称 [end] -->

                            <!-- 选择压缩算法 [start] -->
                            <div class="mb-2">压缩算法</div>
                            <select class="form-select dark-mode-input compress-type" name="compress-type"
                                    aria-label="compress-type" required>
                                <option class="option bg-dark text-light" value="none" selected>仅存储</option>
                                <option class="option bg-dark text-light" value="zip">zip</option>
                                <option class="option bg-dark text-light" value="lzma">lzma</option>
                            </select>
                            <!-- 选择压缩算法 [end] -->

                            <!-- 添加的文件 [start] -->
                            <div class="border-top border-bottom mt-3 pb-3 file-name-list">
                                <h5 class="text-center py-2">要添加到压缩包的文件</h5>
                                <div class="overflow-auto list">
                                </div>
                            </div>
                            <!-- 添加的文件 [end] -->

                            <!-- “正在加载”动画效果 [start] -->
                            <div class="loading text-center d-flex justify-content-center mt-2 d-none">
                                <div class="spinner-border text-dark" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="h5 mb-0 ms-2 hint-text">正在压缩...</div>
                            </div>
                            <!-- “正在加载”动画效果 [end] -->

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-info gray-shadow me-4">确定</button>
                                <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                            </div>
                        </form>
                        <!-- 压缩多文件表单 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 压缩文件模态框 [end] -->
    {% endif %}

    <!-- 下载多个文件模态框 [start] -->
    <div class="modal fade" id="multi-download-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">下载多个文件</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 下载多文件表单 [start] -->
                    <form action="{{ url_for('main.download') }}" method="get" name="multi-download">

                        注：文件将会被压缩再下载

                        <!-- 要下载的文件 [start] -->
                        <div class="border-top border-bottom mt-3 pb-3 file-name-list">
                            <h5 class="text-center py-2">要下载的文件</h5>
                            <div class="overflow-auto list">
                            </div>
                        </div>
                        <!-- 要下载的文件 [end] -->

                        <!-- “正在加载”动画效果 [start] -->
                        <div class="loading text-center d-flex justify-content-center mt-2 d-none">
                            <div class="spinner-border text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="h5 mb-0 ms-2 hint-text">正在压缩...</div>
                        </div>
                        <!-- “正在加载”动画效果 [end] -->

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-info gray-shadow me-4">下载</button>
                            <button type="button" class="btn btn-dark gray-shadow" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                    <!-- 下载多文件表单 [end] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 下载多个文件模态框 [end] -->

    {% if num_page %}
        <!-- 跳转页码模态框 [start] -->
        <div class="modal fade" id="jump-page-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">跳转到指定页</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 指定页码 [start] -->
                        <form action="{{ url_for('main.index') }}" method="get" name="jump-page">

                            <input type="text" class="d-none" name="path" value="{{ current_dir_path }}"/>

                            <div class="input-group mb-3">
                                <input type="number" min="1" max="{{ num_page }}" class="form-control" name="page"
                                       value="1"/>
                                <span class="input-group-text my-input-group-text">页</span>
                                <button class="btn btn-info" type="submit">跳转</button>
                            </div>
                        </form>
                        <!-- 指定页码 [start] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 跳转页码模态框 [end] -->
    {% endif %}

    {% if not root_page %}
        <!-- 搜索模态框 [start] -->
        <div class="modal fade" id="search-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
             data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content bg-secondary text-white">

                    <!-- 模态框头部 [start] -->
                    <div class="modal-header position-relative">
                        <h5 class="modal-title w-100 text-center">在当前目录搜索</h5>
                        <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                                data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <!-- 模态框头部 [end] -->

                    <!-- 模态框内容 [start] -->
                    <div class="modal-body mb-2">

                        <!-- 搜索框 [start] -->
                        <form action="{{ url_for('main.search_file') }}" method="get" class="d-flex" role="search"
                              name="search-file">

                            <!-- 隐藏的控件：当前目录路径 [start] -->
                            <input type="text" class="d-none" name="dir-path" value="{{ current_dir_path }}"/>
                            <!-- 隐藏的控件：当前目录路径 [end] -->

                            <input class="form-control me-2 dark-mode-input" type="search" name="keyword" required
                                   autocomplete="off" placeholder="请输入搜索关键词" aria-label="Search"/>
                            <button class="btn btn-info" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </form>
                        <!-- 搜索框 [end] -->

                        <!-- “正在加载”动画效果 [start] -->
                        <div class="loading text-center mt-3 d-none">
                            <div class="h5 text-light">正在搜索...</div>
                            <div class="spinner-border text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- “正在加载”动画效果 [end] -->

                        <div class="text-center border rounded-2 py-4 mt-3 no-result">无匹配结果</div>

                        <!-- 搜索结果 [start] -->
                        <div class="mt-4 d-none search-result">
                            <h5 class="text-center">搜索结果</h5>
                            <ul class="list-group list">
                            </ul>
                        </div>
                        <!-- 搜索结果 [end] -->

                    </div>
                    <!-- 模态框内容 [end] -->

                </div>
            </div>
        </div>
        <!-- 搜索模态框 [end] -->
    {% endif %}

{% endblock modal %}

{% block top_navbar_right %}

    {% if not root_page %}
        <!-- 搜索按钮 [start] -->
        <a class="navbar-brand rounded-2 px-3 d-inline-block me-0 search-btn" href="javascript:;">
            <i class="bi bi-search"></i>
        </a>
        <!-- 搜索按钮 [end] -->
    {% endif %}

{% endblock top_navbar_right %}

{% block left_navbar_right %}

    {% if not root_page %}
        <!-- 搜索按钮 [start] -->
        <li class="nav-item">
            <a class="nav-link px-3 search-btn" href="javascript:;">
                <i class="bi bi-search"></i>
                <span class="ms-2">搜索</span>
            </a>
        </li>
        <!-- 搜索按钮 [end] -->
    {% endif %}

{% endblock left_navbar_right %}

{% block content %}
    <h1 class="text-white text-center my-4">文件系统</h1>
    <div class="row">
        <div class="col px-0">

            <!-- 顶部操作按钮组 [start] -->
            {% if not root_page %}
                <div class="btn-group d-block text-center mb-2 action-group" role="group">

                    <!-- 上传文件按钮 [start] -->
                    {% if current_user.is_authenticated %}
                        <button type="button" class="btn btn-info rounded-2 gray-shadow" id="upload-file"
                            data-bs-toggle="modal" data-bs-target="#upload-file-modal">
                        上传文件
                    </button>
                    {% endif %}
                    <!-- 上传文件按钮 [end] -->

                    <!-- 新建目录按钮 [start] -->
                    {% if current_user.is_admin() %}
                        <button type="button" class="btn btn-info rounded-2 gray-shadow" id="create-dir"
                                data-bs-toggle="modal" data-bs-target="#create-dir-modal">
                            新建目录
                        </button>
                    {% endif %}
                    <!-- 新建目录按钮 [end] -->

                    <!-- 多选按钮及操作下拉菜单 [start] -->
                    <div class="btn-group multi-select-btn-group">

                        <!-- 多选按钮 [start] -->
                        <button type="button" class="btn btn-outline-light rounded-2 ms-2" id="multi-select"
                                data-multi-status="0">
                            多选
                        </button>
                        <!-- 多选按钮 [end] -->

                        <!-- 下拉按钮 [start] -->
                        <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split px-3 rounded-end d-none"
                                data-bs-toggle="dropdown" aria-expanded="false" id="multi-select-dropdown-btn">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <!-- 下拉按钮 [end] -->

                        <!-- 下拉菜单 [start] -->
                        <ul class="dropdown-menu dropdown-menu-dark">

                            <!-- 下载 [start] -->
                            <li>
                                <a class="dropdown-item download" href="javascript:;">下载</a>
                            </li>
                            <!-- 下载 [end] -->

                            <!-- 查看多个文件总大小 [start] -->
                            {% if current_user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item total-size" href="javascript:;"
                                       data-href="{{ url_for('main.dir_size') }}">统计大小</a>
                                </li>
                            {% endif %}
                            <!-- 查看多个文件总大小 [end] -->

                            <!-- 压缩 [start] -->
                            {% if current_user.is_admin() %}
                                <li>
                                    <a class="dropdown-item compress-file" href="javascript:;">压缩</a>
                                </li>
                            {% endif %}
                            <!-- 压缩 [end] -->

                            <!-- 复制按钮 [start] -->
                            {% if current_user.is_admin() %}
                                <li>
                                    <a class="dropdown-item copy" href="javascript:;">复制</a>
                                </li>
                            {% endif %}
                            <!-- 复制按钮 [end] -->

                            <!-- 移动按钮 [start] -->
                            {% if current_user.is_admin() %}
                                <li>
                                    <a class="dropdown-item move" href="javascript:;">移动</a>
                                </li>
                            {% endif %}
                            <!-- 移动按钮 [end] -->

                            <!-- 删除按钮 [start] -->
                            {% if current_user.is_admin() %}
                                <li>
                                    <a class="dropdown-item remove" href="javascript:;">删除</a>
                                </li>
                            {% endif %}
                            <!-- 删除按钮 [end] -->

                        </ul>
                        <!-- 下拉菜单 [end] -->

                    </div>
                    <!-- 多选按钮及操作下拉菜单 [end] -->

                    <!-- 多选辅助按钮 [start] -->
                    <div class="btn-group d-block mt-2 d-none secondary-multi-select-btn-group">
                        <button type="button" class="btn btn-info rounded-2 gray-shadow all-select">全选</button>
                        <button type="button" class="btn btn-info rounded-2 gray-shadow no-select">全不选</button>
                        <button type="button" class="btn btn-info rounded-2 gray-shadow anti-select">反选</button>
                        <button type="button" class="btn btn-info rounded-2 gray-shadow between-select">区间选择</button>
                    </div>
                    <!-- 多选辅助按钮 [end] -->

                </div>
            {% endif %}
            <!-- 顶部操作按钮组 [end] -->

            <!-- 路径导航 [start] -->
            {% if not root_page %}
                <div class="d-flex mb-1">
                    <!-- 复制按钮 -->
                    <button type="button" class="btn btn-dark no-shadow px-2 py-1 ms-0 ms-sm-2"
                            id="copy-current-dir-path"
                            title="复制" data-current-dir-path="{{ current_dir_path }}">
                        <i class="bi bi-clipboard copy-icon"></i>
                    </button>

                    <!-- 导航项目 [start] -->
                    <nav class="ps-2 pe-2 pe-sm-4 dir-path-nav" aria-label="breadcrumb">
                        <ol class="breadcrumb my-1">
                            {# 从最后一个遍历到第一个 [start] #}
                            {% with %}
                                {% set nav_path_length = nav_path | length %}
                                {% for i in range(nav_path_length - 1) %}
                                    {% set name, path = nav_path[nav_path_length - i - 1] %}
                                    <li class="breadcrumb-item">
                                        <a class="text-light dir-path-link"
                                           href="{{ url_for('main.index', path=path) }}">{{ name }}</a>
                                    </li>
                                {% endfor %}
                            {% endwith %}
                            {# 从最后一个遍历到第一个 [end] #}

                            <!-- 当前页面 -->
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ nav_path[0][0] }}
                            </li>

                        </ol>
                    </nav>
                    <!-- 导航项目 [end] -->

                </div>
            {% endif %}
            <!-- 路径导航 [end] -->

            <!-- 文件列表 [start] -->
            <ul class="list-group mb-5 shadow file-list" data-select-start-index="-1" data-select-end-index="-1">

                <!-- 上一级 [start] -->
                {% if not root_page %}
                    <li class="list-group-item bg-secondary d-flex justify-content-between p-0 upper-path" data-upper-path="1">
                        <a class="text-light text-truncate flex-fill text-decoration-none px-2 px-sm-4 py-2 file-name"
                           href="{{ url_for('main.index', path=upper_path) }}">
                            上一级
                        </a>
                    </li>
                {% endif %}
                <!-- 上一级 [end] -->

                <!-- 每一个文件行 [start] -->
                {% for file in file_list %}
                    <li class="list-group-item bg-secondary d-flex justify-content-between px-2 px-sm-4 py-0"
                        data-index="{{ loop.index0 }}">

                        <!-- 多选复选框 -->
                        <input class="form-check-input mt-0 me-2 align-self-center flex-shrink-0 d-none multi-select"
                               type="checkbox" name="file-name" value="{{ file.path }}"/>

                        <!-- 文件类型图标 -->
                        <i class="{{ file_type_icon_map[file.type] }} mt-0 me-2 align-self-center fs-3 text-light"
                           data-file-type="{{ file.type }}"></i>

                        <!-- 显示文件名的区域 -->
                        <a class="text-light text-truncate flex-fill text-decoration-none py-2 file-name"
                           href="{{ url_for('main.index', path=file.path) }}" title="{{ file.name }}"
                           {% if file.type !='dir' %}target="_blank"{% endif %}>
                            {% if root_page %}
                                {{ file.path }}
                            {% else %}
                                {{ file.name }}
                            {% endif %}
                        </a>

                        <!-- 显示文件大小的区域 -->
                        <span class="text-light py-2 file-size{% if file.size != '' %} ms-2{% endif %}">{{ file.size }}</span>

                        <!-- 操作下拉菜单 [start] -->
                        <div class="dropdown action-dropdown d-flex">

                            <!-- 折叠、展开按钮 -->
                            <button class="btn btn-dark dropdown-toggle ms-2 align-self-center no-shadow border border-secondary"
                                    type="button" id="action-dropdown-btn-{{ loop.index0 }}" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                            </button>

                            <!-- 操作按钮列表 [start] -->
                            <ul class="dropdown-menu dropdown-menu-dark">

                                <!-- 预览目录按钮 [start] -->
                                {% if file.type == 'dir' %}
                                    <li>
                                        <a class="dropdown-item preview-dir" href="javascript:;"
                                           data-href="{{ url_for('main.preview_dir', path=file.path) }}">预览</a>
                                    </li>
                                {% endif %}
                                <!-- 预览目录按钮 [end] -->
                                <!-- 下载按钮 [start] -->
                                <li>
                                    <a class="dropdown-item{% if file.type == 'dir' %} download-dir{% endif %}"
                                       href="{{ url_for('main.download', path=file.path) }}">下载</a>
                                </li>
                                <!-- 下载按钮 [start] -->
                                <!-- 查看完整文件名 [start] -->
                                <li>
                                    <a class="dropdown-item full-file-name" href="javascript:;"
                                       data-file-name="{% if root_page %}{{ file.path }}{% else %}{{ file.name }}{% endif %}">
                                        查看完整文件名
                                    </a>
                                </li>
                                <!-- 查看完整文件名 [end] -->
                                <!-- 查看目录大小按钮 [start] -->
                                {% if file.type == 'dir' and current_user.is_authenticated %}
                                    <li>
                                        <a class="dropdown-item dir-size" href="javascript:;"
                                           data-href="{{ url_for('main.dir_size', path=file.path) }}"
                                           data-file-name="{{ file.name }}">查看目录大小</a>
                                    </li>
                                {% endif %}
                                <!-- 查看目录大小按钮 [end] -->
                                {% if current_user.is_admin() and not root_page %}
                                    <li>
                                        <a class="dropdown-item copy" href="javascript:;"
                                           data-file-path="{{ file.path }}">复制</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item move" href="javascript:;"
                                           data-file-path="{{ file.path }}">移动</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item remove" href="javascript:;"
                                           data-file-path="{{ file.path }}" data-file-name="{{ file.name }}">删除</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item rename" href="javascript:;"
                                           data-file-path="{{ file.path }}"
                                           data-file-name="{{ file.name }}">重命名</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <!-- 操作按钮列表 [end] -->

                        </div>
                        <!-- 操作下拉菜单 [end] -->

                    </li>
                {% endfor %}
                <!-- 每一个文件行 [end] -->

            </ul>
            <!-- 文件列表 [end] -->

            <!-- 当没有可见目录可显示时要显示的内容 [start] -->
            {% if not file_list %}
                <p class="text-light text-center fs-5 my-5">没有文件</p>
            {% endif %}
            <!-- 当没有可见目录可显示时要显示的内容 [end] -->

            <!-- 分页导航 [start] -->
            {% if num_page and num_page > 1 %}
                <nav id="file-pagination" aria-label="page-navigation">
                    <ul class="pagination justify-content-center mb-5">

                        {% if num_page <= 5 %}

                            {# 总页数小于等于5时，显示所有页码 [start] #}
                            {% for page in range(1, num_page + 1) %}
                                {% if page == current_page %}
                                    {{ component.active_page_link(page) }}
                                {% else %}
                                    {{ component.normal_page_link(current_dir_path, page) }}
                                {% endif %}
                            {% endfor %}
                            {# 总页数小于等于5时，显示所有页码 [end] #}

                        {% elif num_page > 5 %}

                            {# 总页数大于5时，不显示所有页码 [start] #}
                            {% if current_page == 1 %}

                                {{ component.active_page_link(1) }}
                                {{ component.normal_page_link(current_dir_path, 2) }}
                                {{ component.ellipsis_page_link() }}
                                {{ component.normal_page_link(current_dir_path, num_page) }}
                                {{ component.next_page_link(current_dir_path, 2) }}

                            {% elif 2 <= current_page <= num_page - 2 %}

                                {{ component.prev_page_link(current_dir_path, current_page - 1) }}
                                {{ component.active_page_link(current_page) }}
                                {{ component.ellipsis_page_link() }}
                                {{ component.normal_page_link(current_dir_path, num_page) }}
                                {{ component.next_page_link(current_dir_path, current_page + 1) }}

                            {% else %}

                                {{ component.prev_page_link(current_dir_path, current_page - 1) }}
                                {{ component.normal_page_link(current_dir_path, 1) }}
                                {{ component.ellipsis_page_link() }}
                                {% if current_page == num_page - 1 %}
                                    {{ component.active_page_link(current_page) }}
                                    {{ component.normal_page_link(current_dir_path, num_page) }}
                                {% else %}
                                    {{ component.normal_page_link(current_dir_path, num_page - 1) }}
                                    {{ component.active_page_link(current_page) }}
                                {% endif %}

                            {% endif %}
                            {# 总页数大于5时，不显示所有页码 [end] #}

                        {% endif %}

                    </ul>
                </nav>
            {% endif %}
            <!-- 分页导航 [end] -->

        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="/static/main/js/index.js"></script>
{% endblock javascript %}
