{% extends "base/base.html" %}
{% import "base/macro.html" as component %}

{% block title %}文件系统{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/static/main/css/index.css" />
{% endblock style %}

{% block modal %}
    <!-- 完整文件名模态框 [start] -->
    <div class="modal fade" id="full-file-name-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">完整文件名</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 显示文件名、复制按钮 [start] -->
                    <div class="d-flex show-panel">
                        <input type="text" class="form-control show-file-name" id="show-full-file-name-input" readonly>
                        {{ component.copy_btn('#show-full-file-name-input') }}
                    </div>
                    <!-- 显示文件名、复制按钮 [start] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 完整文件名模态框 [end] -->

    <!-- 删除文件 [start] -->
    <div class="modal fade" id="delete-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">警告</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 删除文件表单 [start] -->
                    <form action="{{ url_for('main.remove') }}" method="post" name="delete-file">

                        确定要删除文件<span class="bg-danger bg-opacity-75 px-1 rounded-1 file-name"></span>吗？

                        <input type="text" class="d-none" name="path" value="javascript" required/>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-danger gray-shadow me-4">删除</button>
                            <button type="button" class="btn btn-info gray-shadow" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                    <!-- 删除文件表单 [end] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 删除文件 [end] -->

    <!-- 重命名文件 [start] -->
    <div class="modal fade" id="rename-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">重命名</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 重命名文件表单 [start] -->
                    <form action="{{ url_for('main.rename') }}" method="post" name="rename-file">

                        <!-- 隐藏的控件：要重命名的文件的绝对路径 -->
                        <input type="text" class="d-none" name="path" value="javascript"/>

                        <!-- 原名称 [start] -->
                        <div class="mb-3">
                            <label for="rename-source-file-name" class="form-label">原名称</label>
                            <div class="d-flex show-panel">
                                <input type="text" class="form-control source-file-name" id="rename-source-file-name"
                                       readonly/>
                                {{ component.copy_btn('#rename-source-file-name') }}
                            </div>
                        </div>
                        <!-- 原名称 [end] -->

                        <!-- 新名称 [start] -->
                        <div class="mb-3">
                            <label for="rename-new-file-name" class="form-label">新名称</label>
                            <input type="text" class="form-control dark-mode-input" id="rename-new-file-name"
                                   name="new-file-name" required autocomplete="off"/>
                        </div>
                        <!-- 新名称 [end] -->

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-danger gray-shadow me-4">确定</button>
                            <button type="button" class="btn btn-info gray-shadow" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                    <!-- 重命名文件表单 [end] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 重命名文件 [end] -->

    <!-- 移动文件 [start] -->
    <div class="modal fade" id="move-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">移动</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 移动文件表单 [start] -->
                    <form action="{{ url_for('main.move') }}" method="post" name="move-file">

                        <!-- 要移动的文件的绝对路径 [start] -->
                        <div class="mb-3">
                            <label for="move-source-file-path" class="form-label">原路径</label>
                            <div class="d-flex show-panel">
                                <input type="text" class="form-control source-file-path" id="move-source-file-path"
                                       name="source-file-path" readonly required autocomplete="off"/>
                                {{ component.copy_btn('#move-source-file-path') }}
                            </div>
                        </div>
                        <!-- 要移动的文件的绝对路径 [end] -->

                        <!-- 目标路径 [start] -->
                        <div class="mb-3">
                            <label for="move-target-file-path" class="form-label">目标路径</label>
                            <input type="text" class="form-control dark-mode-input" id="move-target-file-path"
                                   name="target-file-path" required autocomplete="off"/>
                        </div>
                        <!-- 目标路径 [end] -->

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-danger gray-shadow me-4">确定</button>
                            <button type="button" class="btn btn-info gray-shadow" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                    <!-- 移动文件表单 [end] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 移动文件 [end] -->

    <!-- 复制文件 [start] -->
    <div class="modal fade" id="copy-file-modal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">

                <!-- 模态框头部 [start] -->
                <div class="modal-header position-relative">
                    <h5 class="modal-title w-100 text-center">复制</h5>
                    <button type="button" class="btn-close position-absolute m-0 gray-shadow"
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- 模态框头部 [end] -->

                <!-- 模态框内容 [start] -->
                <div class="modal-body mb-2">

                    <!-- 移动文件表单 [start] -->
                    <form action="{{ url_for('main.copy_file') }}" method="post" name="copy-file">

                        <!-- 要复制的文件的绝对路径 [start] -->
                        <div class="mb-3">
                            <label for="copy-source-file-path" class="form-label">源文件路径</label>
                            <div class="d-flex show-panel">
                                <input type="text" class="form-control source-file-path" id="copy-source-file-path"
                                       name="source-file-path" readonly required autocomplete="off"/>
                                {{ component.copy_btn('#copy-source-file-path') }}
                            </div>
                        </div>
                        <!-- 要复制的文件的绝对路径 [end] -->

                        <!-- 目标路径 [start] -->
                        <div class="mb-3">
                            <label for="copy-target-file-path" class="form-label">目标路径</label>
                            <input type="text" class="form-control dark-mode-input" id="copy-target-file-path"
                                   name="target-file-path" required autocomplete="off"/>
                        </div>
                        <!-- 目标路径 [end] -->

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-danger gray-shadow me-4">确定</button>
                            <button type="button" class="btn btn-info gray-shadow" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                    <!-- 移动文件表单 [end] -->

                </div>
                <!-- 模态框内容 [end] -->

            </div>
        </div>
    </div>
    <!-- 复制文件 [end] -->
{% endblock modal %}

{% block content %}
<h1 class="text-white text-center my-4">文件系统</h1>
<div class="row">
    <div class="col px-0">

        <!-- 路径导航 [start] -->
        {% if not root_page %}
            <div class="d-flex mb-1">
                <!-- 复制按钮 -->
                <button type="button" class="btn btn-dark no-shadow px-2 py-1 ms-0 ms-sm-2" id="copy-current-dir-path"
                        title="复制" data-current-dir-path="{{ current_dir_path }}">
                    <i class="bi bi-clipboard copy-icon"></i>
                </button>

                <!-- 导航项目 [start] -->
                <nav class="ps-2 pe-2 pe-sm-4 dir-path-nav" aria-label="breadcrumb">
                    <ol class="breadcrumb my-1">
                        {# 从最后一个遍历到第一个 [start] #}
                        {% with %}
                            {% set nav_path_length = nav_path | length %}
                            {% for i in range(nav_path_length - 1) %}
                                {% set name, path = nav_path[nav_path_length - i - 1] %}
                                <li class="breadcrumb-item">
                                    <a class="text-light dir-path-link"
                                       href="{{ url_for('main.index', path=path) }}">{{ name }}</a>
                                </li>
                            {% endfor %}
                        {% endwith %}
                        {# 从最后一个遍历到第一个 [end] #}

                        <!-- 当前页面 -->
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ nav_path[0][0] }}
                        </li>

                    </ol>
                </nav>
                <!-- 导航项目 [end] -->

            </div>
        {% endif %}
        <!-- 路径导航 [end] -->

        <!-- 文件列表 [start] -->
        <ul class="list-group mb-5 shadow file-list">

            <!-- 上一级 [start] -->
            {% if not root_page %}
                <li class="list-group-item bg-secondary d-flex justify-content-between p-0 upper-path">
                    <a class="text-light text-truncate flex-fill text-decoration-none px-2 px-sm-4 py-2 file-name"
                       href="{{ url_for('main.index', path=upper_path) }}">
                        上一级
                    </a>
                </li>
            {% endif %}
            <!-- 上一级 [end] -->

            <!-- 每一个用户行 [start] -->
            {% for file in file_list %}
                <li class="list-group-item bg-secondary d-flex justify-content-between px-2 px-sm-4 py-0">

                    <!-- 多选复选框 -->
                    <input class="form-check-input mt-0 me-2 text-truncate align-self-center d-none" type="checkbox"
                           name="file-name" value="{{ file.path }}"/>

                    <!-- 文件类型图标 -->
                    <i class="{{ file_type_icon_map[file.type] }} mt-0 me-2 align-self-center fs-3 text-light"
                       data-file-type="{{ file.type }}"></i>

                    <!-- 显示文件名的区域 -->
                    <a class="text-light text-truncate flex-fill text-decoration-none py-2 file-name"
                       href="{{ url_for('main.index', path=file.path) }}" title="{{ file.name }}"
                       {% if file.type != 'dir' %}target="_blank"{% endif %}>
                        {% if root_page %}
                            {{ file.path }}
                        {% else %}
                            {{ file.name }}
                        {% endif %}
                    </a>

                    <!-- 显示文件大小的区域 -->
                    <span class="text-light py-2 file-size {% if file.size != '' %}ms-2{% endif %}">{{ file.size }}</span>

                    <!-- 操作下拉菜单 [start] -->
                    <div class="dropdown action-dropdown d-flex">

                        <!-- 折叠、展开按钮 -->
                        <button class="btn btn-dark dropdown-toggle ms-2 align-self-center no-shadow border border-secondary"
                                type="button" id="action-dropdown-btn-{{ loop.index0 }}" data-bs-toggle="dropdown"
                                aria-expanded="false">
                        </button>

                        <!-- 操作按钮列表 [start] -->
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('main.download', path=file.path) }}">下载</a>
                            </li>
                            <li>
                                <a class="dropdown-item full-file-name" href="javascript:;"
                                   data-file-name="{% if root_page %}{{ file.path }}{% else %}{{ file.name }}{% endif %}">查看完整文件名</a>
                            </li>
                            {% if current_user.is_admin() %}
                                <li>
                                    <a class="dropdown-item copy" href="javascript:;" data-file-path="{{ file.path }}">复制</a>
                                </li>
                                <li>
                                    <a class="dropdown-item move" href="javascript:;" data-file-path="{{ file.path }}">移动</a>
                                </li>
                                <li>
                                    <a class="dropdown-item remove" href="javascript:;"
                                       data-file-path="{{ file.path }}" data-file-name="{{ file.name }}">删除</a>
                                </li>
                                <li>
                                    <a class="dropdown-item rename" href="javascript:;" data-file-path="{{ file.path }}"
                                       data-file-name="{{ file.name }}">重命名</a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- 操作按钮列表 [end] -->

                    </div>
                    <!-- 操作下拉菜单 [end] -->

                </li>
            {% endfor %}
            <!-- 每一个用户行 [end] -->

        </ul>
        <!-- 文件列表 [end] -->

        <!-- 当没有可见目录可显示时要显示的内容 [start] -->
        {% if not file_list %}
            <p class="text-light text-center fs-5 my-5">没有文件</p>
        {% endif %}
        <!-- 当没有可见目录可显示时要显示的内容 [end] -->

    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script src="/static/main/js/index.js"></script>
{% endblock javascript %}
