@charset "UTF-8";
/* 文件图标颜色相关的变量 */
#app .dir-path-nav .breadcrumb-item::before {
  color: #F8F9FA;
}
#app .dir-path-nav .breadcrumb-item.active,
#app .dir-path-nav .dir-path-link:hover {
  color: #A5ACBA !important;
}

#app .file-list .list-group-item:hover, #app .file-list .list-group-item[data-active="1"] {
  background-color: #212529 !important;
}
#app .file-list .list-group-item .file-name {
  cursor: pointer;
}
#app .file-list .bi[data-file-type=dir] {
  color: #ffdc78 !important;
}
#app .file-list .bi[data-file-type=package] {
  color: #000 !important;
}
#app .file-list .bi[data-file-type=video] {
  color: #70c3ff !important;
}
#app .file-list .bi[data-file-type=image] {
  color: #c4fff1 !important;
}
#app .file-list .bi[data-file-type=audio] {
  color: #f6801f !important;
}
#app .file-list .bi[data-file-type=text] {
  color: #aedfd0 !important;
}
#app .file-list .bi[data-file-type=unknown] {
  color: #F8F9FA !important;
}

#full-file-name-modal .show-file-name {
  background-color: #ffffffe6;
  cursor: text;
}

#app .file-list .action-dropdown [id^=action-dropdown-btn] {
  height: 36px;
  transition: all 0.15s;
}
#app .file-list .action-dropdown [id^=action-dropdown-btn]:hover, #app .file-list .action-dropdown [id^=action-dropdown-btn]:active, #app .file-list .action-dropdown [id^=action-dropdown-btn]:focus, #app .file-list .action-dropdown [id^=action-dropdown-btn].show {
  background-color: #a5acba;
  color: #212529;
}
#app .file-list .action-dropdown [id^=action-dropdown-btn]::after {
  margin-left: 0;
}

#preview-dir-modal {
  /* 文件图标 */
  /* 展开、折叠图标样式 [start] */
  /* 展开、折叠图标样式 [end] */
}
#preview-dir-modal .struct .item {
  list-style: none;
}
#preview-dir-modal .struct .item[data-type=package]::before {
  content: "\f3bf";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #000 !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=video]::before {
  content: "\f21f";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #70c3ff !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=image]::before {
  content: "\f42a";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #c4fff1 !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=audio]::before {
  content: "\f49e";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #f6801f !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=text]::before {
  content: "\f3b9";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #aedfd0 !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=unknown]::before {
  content: "\f50b";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #F8F9FA !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=dir] > .filename {
  cursor: pointer;
}
#preview-dir-modal .struct .item[data-type=dir]::before {
  margin-right: 2px;
  font-family: "bootstrap-icons";
  font-size: 12px;
}
#preview-dir-modal .struct .item[data-type=dir][data-fold="1"]::before {
  content: "\f231";
}
#preview-dir-modal .struct .item[data-type=dir][data-fold="0"]::before {
  content: "\f229";
}

#multi-select[data-multi-status="1"] {
  border-color: #f8f9fa;
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
  background-color: #f8f9fa;
  color: #000;
}

/*# sourceMappingURL=index.css.map */
