@charset "UTF-8";
/* 文件图标颜色相关的变量 */
#app .dir-path-nav .breadcrumb-item::before {
  color: #F8F9FA;
}
#app .dir-path-nav .breadcrumb-item.active,
#app .dir-path-nav .dir-path-link:hover {
  color: #A5ACBA !important;
}

#app .file-list:not([data-multi-select-status="1"]) .list-group-item:hover,
#app .file-list .list-group-item[data-active="1"] {
  background-color: #212529 !important;
}
#app .file-list .list-group-item .file-name {
  cursor: pointer;
}
#app .file-list .bi[data-file-type=dir] {
  color: #ffdc78 !important;
}
#app .file-list .bi[data-file-type=package] {
  color: #000 !important;
}
#app .file-list .bi[data-file-type=video] {
  color: #70c3ff !important;
}
#app .file-list .bi[data-file-type=image] {
  color: #c4fff1 !important;
}
#app .file-list .bi[data-file-type=audio] {
  color: #f6801f !important;
}
#app .file-list .bi[data-file-type=text] {
  color: #aedfd0 !important;
}
#app .file-list .bi[data-file-type=unknown] {
  color: #F8F9FA !important;
}

#full-file-name-modal .show-file-name {
  background-color: #ffffffe6;
  cursor: text;
}

#preview-dir-modal {
  /* 文件图标 */
  /* 展开、折叠图标样式 [start] */
  /* 展开、折叠图标样式 [end] */
}
#preview-dir-modal .struct .item {
  list-style: none;
}
#preview-dir-modal .struct .item[data-type=package]::before {
  content: "\f3bf";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #000 !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=video]::before {
  content: "\f21f";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #70c3ff !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=image]::before {
  content: "\f42a";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #c4fff1 !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=audio]::before {
  content: "\f49e";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #f6801f !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=text]::before {
  content: "\f3b9";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #aedfd0 !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=unknown]::before {
  content: "\f50b";
  margin-right: 2px;
  font-family: "bootstrap-icons";
  color: #F8F9FA !important;
  font-size: 14px;
}
#preview-dir-modal .struct .item[data-type=dir] > .filename {
  cursor: pointer;
}
#preview-dir-modal .struct .item[data-type=dir]::before {
  margin-right: 2px;
  font-family: "bootstrap-icons";
  font-size: 12px;
}
#preview-dir-modal .struct .item[data-type=dir][data-fold="1"]::before {
  content: "\f231";
}
#preview-dir-modal .struct .item[data-type=dir][data-fold="0"]::before {
  content: "\f229";
}

#multi-total-size-modal .file-size-table .table [data-dir="1"] > td:first-child {
  background-color: #25B4D3 !important;
  --bs-table-accent-bg: none !important;
}

#compress-file-modal form[name=compress-file] .compress-file-name-box .extension-name {
  cursor: default;
}
#compress-file-modal form[name=compress-file] .compress-type {
  cursor: pointer;
}
#compress-file-modal form[name=compress-file] .file-name-list .list {
  max-height: 10rem;
}
#compress-file-modal form[name=compress-file] .loading .hint-text {
  line-height: 2rem;
}

#multi-download-modal form[name=multi-download] .file-name-list .list {
  max-height: 10rem;
}
#multi-download-modal form[name=multi-download] .loading .hint-text {
  line-height: 2rem;
}

#app .file-list .action-dropdown [id^=action-dropdown-btn] {
  height: 36px;
  transition: all 0.15s;
}
#app .file-list .action-dropdown [id^=action-dropdown-btn]:hover, #app .file-list .action-dropdown [id^=action-dropdown-btn]:active, #app .file-list .action-dropdown [id^=action-dropdown-btn]:focus, #app .file-list .action-dropdown [id^=action-dropdown-btn].show {
  background-color: #6c757d;
  color: #212529;
}
#app .file-list .action-dropdown [id^=action-dropdown-btn]::after {
  margin-left: 0;
}

#app .multi-select-btn-group {
  /* 多选按钮 [start] */
  /* 多选按钮 [end] */
  /* 多选操作的下拉按钮 */
}
#app .multi-select-btn-group #multi-select[data-multi-status="1"] {
  border-color: #f8f9fa;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: 0 0 0 0 #00000000;
  background-color: #f8f9fa;
  color: #000;
}
#app .multi-select-btn-group #multi-select-dropdown-btn {
  border-left-color: #212529 !important;
  box-shadow: 0 0 0 0 #00000000;
}

#file-pagination .pagination {
  /* 分页导航样式 */
  margin-top: -1.5rem;
}
#file-pagination .pagination > .page-item.normal > .page-link, #file-pagination .pagination > .page-item.next > .page-link, #file-pagination .pagination > .page-item.prev > .page-link, #file-pagination .pagination > .page-item.ellipsis > .page-link {
  border-color: #212529;
  background-color: #6c757d;
  color: #F8F9FA;
  cursor: pointer;
}
#file-pagination .pagination > .page-item.normal > .page-link:hover, #file-pagination .pagination > .page-item.next > .page-link:hover, #file-pagination .pagination > .page-item.prev > .page-link:hover, #file-pagination .pagination > .page-item.ellipsis > .page-link:hover {
  background-color: #212529;
}
#file-pagination .pagination > .page-item.active > .page-link {
  border-color: #212529;
  background-color: #212529;
  color: #0d6efd;
  cursor: default;
}
#file-pagination .pagination > .page-item.active > .page-link:hover {
  background-color: #212529;
}

/*# sourceMappingURL=index.css.map */
