@import "../../_variable.scss";

#app .action-group {

    /* border-radius */
    .btn {
        border-radius: 0;
    }

    #all-select {
        border-top-left-radius: .25rem;
    }

    #batch-delete {
        border-bottom-left-radius: .25rem;
    }

    /* border */
    #no-select,
    #anti-select {
        border-left-color: $bg-secondary;
    }

    /* background-color */
    & > .btn-info:hover {
        border-color: $bg-primary;
        background-color: $bg-primary;
    }
}

#app .user-list > .list-group-item {
    cursor: pointer;

    &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &[data-active="1"] {
        background-color: $bg-dark !important;
    }

    input[name="user-name"][type="checkbox"] {
        cursor: pointer;
    }

    .user-name {
        line-height: 31px;
    }
}
