@import "../../_variable.scss";

#app .action-group {
    /* border-radius */
    .btn {
        border-radius: 0;
    }

    [id$="-all-select"] {
        border-top-left-radius: .25rem;
    }

    [id$="-anti-select"] {
        border-top-right-radius: .25rem;
    }

    /* border */
    [id$="-no-select"],
    [id$="-anti-select"] {
        border-left-color: $bg-secondary;
    }

    /* background-color */
    & > .btn-info:hover {
        border-color: $bg-primary;
        background-color: $bg-primary;
    }
}

#app .visible-dir-list .list-group-item {
    cursor: pointer;

    &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &[data-active="1"] {
        background-color: $bg-dark !important;
    }

    input[name="dir-path"][type="checkbox"] {
        cursor: pointer;
    }

    .dir-path {
        line-height: 31px;
    }
}
